@use "./variables";

body {
    font-family: variables.$primaryFont;
    background-color: black;
}

header {
    background-size: cover;
    overflow: hidden;
    position: relative;

    p {
        color: white;
        text-align: center;
        padding-bottom: 10px;
        position: relative;
        z-index: 20;
    }

    img {
        opacity: 0.7;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 0;
    }
}

h1 {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 20;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li img {
    width: 100%;
    height: 50px;
    position: relative;
<<<<<<< HEAD

=======
    background-color: rgb(115, 50, 89);
    opacity: 0.8;
>>>>>>> 2fcbfbde05a4a9ea7e7458f50b16e04af71b40e7
}

h2 {
    color: white;
    position: relative;
    z-index: 20;
    text-align: center;
}

#moodChoice h2 {
    color: black;
}

li {
    list-style: none;

}

.formSection {
    display: flex;
    // flex-direction: row-reverse;
}

<<<<<<< HEAD
.instructions {
    display: flex;
    flex-direction: row;

=======
.headerP {
    color: white;
    font-size: 1.4rem;
    padding: 70px 0px 30px 0px;
>>>>>>> 2fcbfbde05a4a9ea7e7458f50b16e04af71b40e7
}

.formSection {
    margin: 50px 100px 50px 140px;
    color: white;
}

 .horoFortune, .horoOptions {
    margin: 10px 100px 30px 100px;
    color: white;
}

.formHoro {
    margin-bottom: 30px;
}

<<<<<<< HEAD
fieldset {
    padding: 0.35em 0.75em 0.625em;
    margin-top: 25px;
    border: none;
}

h3 {
    margin-top: 50px;
=======
label {
    color: white;
}

button {
    border-radius: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0;
}

button:hover {
    background-color: rgb(115, 50, 89);
    color: white;
>>>>>>> 2fcbfbde05a4a9ea7e7458f50b16e04af71b40e7
}

footer {
    margin-top: 100px;
<<<<<<< HEAD
}
=======
    text-align: center;
    color: white;
}

.starSign, .starMood {
    font-family: variables.$primaryFont;
}

.myButton, .myOtherButton {
    font-family: variables.$primaryFont;
}
>>>>>>> 2fcbfbde05a4a9ea7e7458f50b16e04af71b40e7
