@use "./variables";

body {
    font-family: variables.$primaryFont
}

header {
    background-size: cover;
    overflow: hidden;
    position: relative;

    p {
        color: white;
        text-align: center;
        padding-bottom: 10px;
        position: relative;
        z-index: 20;
    }

    img {
        opacity: 0.8;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 0;
    }
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 20;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li img {
    width: 50px;
    height: 50px;
    position: relative;

}

h2 {
    color: white;
    position: relative;
    z-index: 20;
}

#moodChoice h2 {
    color: black;
}

li {
    list-style: none;

}

.formSection {
    display: flex;
    // flex-direction: row-reverse;
}

.instructions {
    display: flex;
    flex-direction: row;

}

.mainImg {
    height: 50px;
}

.imgContainer {
    width: 50%;
}

.textContainer {
    width: 50%;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
    margin-top: 25px;
    border: none;
}

h3 {
    margin-top: 50px;
}

footer {
    margin-top: 100px;
}